{% extends 'todo/layout.html' %}

{% block content %}

{% if not todos %}
<div class="ui segment">
    <p>Увы, никаких задач еще нет</p>
</div>
{% else %}
<div class="ui segment">
    <p>Всего задач: {{ todos.count }}</p>
</div>
{% endif %}

{% for todo in todos %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} | {{ todo.title }}</p>
    {% if todo.is_complete %}
    <span class="ui green label">Выполнено</span>
    <a href="{% url 'update_todo_is_complete' todo_id=todo.id %}" class="ui blue label">Возобновить</a>
    {% else %}
    <span class="ui gray label">Не выполнено</span>
    <a href="{% url 'update_todo_is_complete' todo_id=todo.id %}" class="ui primary basic label">Завершить</a>
    {% endif %}
    <a href="{% url 'delete_todo' todo_id=todo.id %}" class="ui negative basic label">Удалить</a>
</div>
{% endfor %}

{% endblock content %}